//
// lift.scss
// Theme utility
//

.lift {
  box-shadow: 0 0 0 rgba($black, 0);
  transition: box-shadow .25s ease, transform .25s ease;
}

.lift:hover,
.lift:focus {
  box-shadow: $box-shadow-lift !important;
  transform: translate3d(0, -3px, 0);
}

.lift-lg:hover,
.lift-lg:focus {
  box-shadow: $box-shadow-lift-lg !important;
  transform: translate3d(0, -5px, 0);
}
