{{> header}}
  {{> hero}}

  {{> download-section}}

  <div class="section">
    <div class="container">
      <div class="content">
        <p>{{{text 'text1'}}}</p>
        <p>{{{text 'text2'}}}</p>
      </div>
      <div class="columns">
        <div class="column is-8 is-offset-2">
          <figure class="image">
            <img src="assets/images/tutorials/add-prefix.gif" alt="{{text 'imageAlt1'}}">
          </figure>
        </div>
      </div>
      <div class="content">
        <p>{{{text 'text3'}}}</p>
      </div>

      {{> tutorials-link}}
    </div>
  </div>

  {{> newsletter-section}}

{{> footer}}
