@import "../../node_modules/bulma/sass/utilities/initial-variables";

$blue: #1997c6;
$primary: $blue;

@import "../../node_modules/bulma/bulma.sass";

 @font-face {
  font-family: 'mockoon';
  src:  url('/assets/fonts/mockoon.eot?eu6upg');
  src:  url('/assets/fonts/mockoon.eot?eu6upg#iefix') format('embedded-opentype'),
    url('/assets/fonts/mockoon.ttf?eu6upg') format('truetype'),
    url('/assets/fonts/mockoon.woff?eu6upg') format('woff'),
    url('/assets/fonts/mockoon.svg?eu6upg#mockoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'mockoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-download:before {
  content: "\f019";
}
.icon-twitter:before {
  content: "\f099";
}
.icon-facebook:before {
  content: "\f09a";
}
.icon-apple:before {
  content: "\f179";
}
.icon-windows:before {
  content: "\f17a";
}
.icon-linux:before {
  content: "\f17c";
}

body {
  background-color: #f5f5f5;
}
code {
  color: $grey;
  white-space: pre;
  padding: 0 0.5rem;
  display: inline-block;
  background-color: #efefef;
}

img.logo {
  height: 100%;
}
.image.rounded img {
  border-radius: 5px;
}
.mb20 {
  margin-bottom: 20px;
}
p.is-brand {
  color: #252830;
}
.footer.is-brand {
  background-color: #f7f7f9;
}
.is-75{
  width: 75%;
}
.main-picture {
  max-width: 600px;
  width: 50%;
  margin-bottom: 20px;
}
.section.is-light {
  background-color: #fbfbfb;
}
.cb {
  margin-left: auto;
  margin-right: auto;
}

#mc_embed_signup {
  background: transparent;
  clear: left;
  font: 14px Arial, Helvetica, sans-serif;
  margin: 0 auto;
  width: 50%;
}
#mc_embed_signup div.response {
  width: 100%;
}
#mc_embed_signup .button {
  background-color: #209cee;
}

#mc_embed_signup .button:hover {
  background-color: #118fe4;
}

.mt-40 {
  margin-top: 40px;
}
.footer {
  background-color: #efefef;
}
.donate-item {
  display: inline-block;
  vertical-align: middle;

  &:first-of-type {
    margin-right: 20px;
  }
}
.card-content {
  padding: 0.8rem;
}

.image.max-50 {
  max-width: 50%;
}
.card-content {
  height: 166px;
  position: relative;
  overflow: hidden;

  &::after {
    position: absolute;
    bottom: 0;
    right: 0;
    content: '';
    width: 75px;
    height: 26px;
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.6895133053221288) 18%, rgba(255,255,255,1) 71%);
  }
}
