<section class="section is-light">
  <div class="container has-text-centered has-text-weight-semibold">
    <p class="title is-6">{{text 'download'}}</p>
    <p><a class="button is-primary" href="#download"><span>{{text 'downloadButton'}}</span></a></p>
  </div>
</section>
