    <footer class="footer">
      <div class="container">
        <div class="content has-text-centered">
          <p>
            {{{text 'footerCopyright'}}}
          </p>
          <p>
            <a href="https://spectrum.chat/mockoon">
              {{> community}}
            </a>
          </p>
          {{> github}}
        </div>
      </div>
    </footer>

    <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='ADDRESS';ftypes[3]='address';fnames[4]='PHONE';ftypes[4]='phone';fnames[5]='MMERGE5';ftypes[5]='date';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
    <script>
      document.addEventListener('DOMContentLoaded', () => {
        const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);
        if ($navbarBurgers.length > 0) {
          $navbarBurgers.forEach( el => {
            el.addEventListener('click', () => {
              const target = el.dataset.target;
              const $target = document.getElementById(target);
              el.classList.toggle('is-active');
              $target.classList.toggle('is-active');
            });
          });
        }
      });
    </script>
    <script async defer src="https://buttons.github.io/buttons.js"></script>
  </body>
</html>
