<section class="hero is-small">
  <div class="hero-head">
    {{> nav}}
  </div>

  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title is-spaced">
        {{text 'pageTitle'}}
      </h1>
      <h2 class="subtitle mt20">
        {{text 'pageSubtitle'}}
      </h2>
    </div>
  </div>
</section>
