<header class="navbar">
  <div class="container">
    <div class="navbar-brand">
      <a href="/">
        <img src="assets/images/logo.svg" class="logo" alt="Logo" width="150">
      </a>

      <a role="button" class="navbar-burger" data-target="navMenu" aria-label="menu" aria-expanded="false">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
    <div class="navbar-menu navbar-end" id="navMenu">
      <a class="navbar-item" href="features">
        {{text 'navFeatures'}}
      </a>
      <a class="navbar-item" href="tutorials">
        {{text 'navTutorials'}}
      </a>
      <a class="navbar-item" href="faq">
        {{text 'navFaq'}}
      </a>
      <a class="navbar-item" href="https://github.com/255kb/mockoon/wiki">
        {{text 'navWiki'}}
      </a>
    </div>
  </div>
</header>
