@font-face {
  font-family: 'mockoon';
  src: url('/fonts/mockoon.ttf?pergqr') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: auto;
}

[class^='icon-'],
[class*=' icon-'] {
  font-family: 'mockoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-discord:before {
  content: '\e90f';
  color: #7289da;
}
.icon-download:before {
  content: '\f019';
}
.icon-twitter:before {
  content: '\f099';
}
.icon-facebook:before {
  content: '\f09a';
}
.icon-apple:before {
  content: '\f179';
}
.icon-windows:before {
  content: '\f17a';
}
.icon-linux:before {
  content: '\f17c';
}
.icon-chat:before {
  content: '\e90c';
}
.icon-email:before {
  content: '\e90d';
}
.icon-star:before {
  content: '\e90e';
}
.icon-github:before {
  content: '\eab0';
}
