@font-face {
  font-family: 'mockoon';
  src: url('/fonts/mockoon.ttf?hkd1pj') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: auto;
}

[class^='icon-'],
[class*=' icon-'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'mockoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-shuffle:before {
  content: '\e900';
}
.icon-featured_play_list:before {
  content: '\e909';
}
.icon-import_export:before {
  content: '\e901';
}
.icon-security:before {
  content: '\e902';
}
.icon-tune:before {
  content: '\e903';
}
.icon-code:before {
  content: '\e90a';
}
.icon-help:before {
  content: '\e904';
}
.icon-history:before {
  content: '\e905';
}
.icon-https:before {
  content: '\e906';
}
.icon-settings_input_component:before {
  content: '\e90b';
}
.icon-compare_arrows:before {
  content: '\e907';
}
.icon-multiple_stop:before {
  content: '\e908';
}
.icon-download:before {
  content: '\f019';
}
.icon-twitter:before {
  content: '\f099';
}
.icon-facebook:before {
  content: '\f09a';
}
.icon-apple:before {
  content: '\f179';
}
.icon-windows:before {
  content: '\f17a';
}
.icon-linux:before {
  content: '\f17c';
}
.icon-github:before {
  content: '\eab0';
}
.icon-chat:before {
  content: '\e90c';
}
.icon-email:before {
  content: '\e90d';
}
.icon-star:before {
  content: '\e90e';
}
.icon-discord:before {
  content: '\e90f';
  color: #7289da;
}
