@font-face {
  font-family: 'mockoon';
  src: url('/fonts/mockoon.woff?ma3vvn') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^='icon-'],
[class*=' icon-'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'mockoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-sync:before {
  content: '\e915';
}
.icon-discord:before {
  content: '\e90b';
  color: #7289da;
}
.icon-github:before {
  content: '\e911';
}
.icon-linkedin:before {
  content: '\e90f';
  color: #0077b5;
}
.icon-reddit:before {
  content: '\e917';
  color: #ff4500;
}
.icon-x:before {
  content: '\e910';
}
.icon-youtube:before {
  content: '\e912';
  color: #f00;
}
.icon-download:before {
  content: '\f019';
}
.icon-apple:before {
  content: '\f179';
}
.icon-windows:before {
  content: '\f17a';
}
.icon-linux:before {
  content: '\f17c';
}
.icon-new_releases:before {
  content: '\e908';
}
.icon-chat:before {
  content: '\e90c';
}
.icon-email:before {
  content: '\e90d';
}
.icon-add:before {
  content: '\e919';
}
.icon-clear:before {
  content: '\e90a';
}
.icon-copy:before {
  content: '\e900';
}
.icon-link:before {
  content: '\e914';
}
.icon-remove:before {
  content: '\e903';
}
.icon-arrow_drop_down:before {
  content: '\e905';
}
.icon-arrow_forward:before {
  content: '\e916';
}
.icon-check:before {
  content: '\e902';
}
.icon-refresh:before {
  content: '\e909';
}
.icon-star:before {
  content: '\e90e';
}
.icon-account_circle:before {
  content: '\e904';
}
.icon-history:before {
  content: '\e907';
}
.icon-hourglass_empty:before {
  content: '\e906';
}
.icon-info_outline:before {
  content: '\e918';
}
.icon-open:before {
  content: '\e901';
}
.icon-search:before {
  content: '\e913';
}
