@font-face {
  font-family: 'mockoon';
  src: url('/fonts/mockoon.woff?qzt3wn') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^='icon-'],
[class*=' icon-'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'mockoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-savings:before {
  content: '\e927';
}
.icon-github:before {
  content: '\e911';
}
.icon-linkedin:before {
  content: '\e90f';
  color: #0077b5;
}
.icon-youtube:before {
  content: '\e912';
  color: #f00;
}
.icon-apple:before {
  content: '\f179';
}
.icon-windows:before {
  content: '\f17a';
}
.icon-linux:before {
  content: '\f17c';
}
.icon-warning:before {
  content: '\e91f';
}
.icon-new_releases:before {
  content: '\e908';
}
.icon-play_arrow:before {
  content: '\e929';
}
.icon-chat:before {
  content: '\e90c';
}
.icon-email:before {
  content: '\e90d';
}
.icon-vpn_key:before {
  content: '\e920';
}
.icon-add:before {
  content: '\e919';
}
.icon-clear:before {
  content: '\e90a';
}
.icon-copy:before {
  content: '\e900';
}
.icon-link:before {
  content: '\e914';
}
.icon-remove:before {
  content: '\e903';
}
.icon-storage:before {
  content: '\e921';
}
.icon-bar_chart:before {
  content: '\e931';
}
.icon-cloud:before {
  content: '\e910';
}
.icon-file_download:before {
  content: '\e917';
}
.icon-desktop_windows:before {
  content: '\e91d';
}
.icon-security:before {
  content: '\e91c';
}
.icon-device_hub:before {
  content: '\e930';
}
.icon-tune:before {
  content: '\e92d';
}
.icon-arrow_drop_down:before {
  content: '\e905';
}
.icon-arrow_forward:before {
  content: '\e916';
}
.icon-check:before {
  content: '\e902';
}
.icon-refresh:before {
  content: '\e909';
}
.icon-wifi_off:before {
  content: '\e922';
}
.icon-public:before {
  content: '\e91b';
}
.icon-star:before {
  content: '\e90e';
}
.icon-account_circle:before {
  content: '\e904';
}
.icon-code:before {
  content: '\e91e';
}
.icon-description:before {
  content: '\e923';
}
.icon-history:before {
  content: '\e907';
}
.icon-hourglass_empty:before {
  content: '\e906';
}
.icon-https:before {
  content: '\e91a';
}
.icon-info_outline:before {
  content: '\e918';
}
.icon-open:before {
  content: '\e901';
}
.icon-search:before {
  content: '\e913';
}
.icon-verified_user:before {
  content: '\e924';
}
.icon-visibility_off:before {
  content: '\e925';
}
.icon-speed:before {
  content: '\e92e';
}
.icon-sync_alt:before {
  content: '\e915';
}
.icon-api:before {
  content: '\e92a';
}
.icon-auto_fix_high:before {
  content: '\e92f';
}
.icon-design_services:before {
  content: '\e92b';
}
.icon-north_east:before {
  content: '\e926';
}
.icon-science:before {
  content: '\e90b';
}
.icon-verified:before {
  content: '\e92c';
}
.icon-groups:before {
  content: '\e928';
}
