// Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import 'bootstrap/scss/functions';

// Include any default variable overrides here
@import './user-variables';
@import './theme/variables';

// Include remainder of required Bootstrap stylesheets (including any separate color mode stylesheets)
@import 'bootstrap/scss/variables';
// @import "bootstrap/scss/variables-dark";

// Include any default map overrides here
@import './theme/maps';

// Include remainder of required parts
@import 'bootstrap/scss/maps';
@import 'bootstrap/scss/mixins';
@import 'bootstrap/scss/root';

// Optionally include any other parts as needed
@import 'bootstrap/scss/reboot';
@import 'bootstrap/scss/type';
@import 'bootstrap/scss/images';
@import 'bootstrap/scss/containers';
@import 'bootstrap/scss/grid';
@import 'bootstrap/scss/tables';
@import 'bootstrap/scss/forms';
@import 'bootstrap/scss/buttons';
@import 'bootstrap/scss/transitions';
@import 'bootstrap/scss/dropdown';
@import 'bootstrap/scss/button-group';
@import 'bootstrap/scss/nav';
@import 'bootstrap/scss/navbar';
@import 'bootstrap/scss/card';
@import 'bootstrap/scss/accordion';
@import 'bootstrap/scss/breadcrumb';
//@import 'bootstrap/scss/pagination';
@import 'bootstrap/scss/badge';
@import 'bootstrap/scss/alert';
@import 'bootstrap/scss/progress';
@import 'bootstrap/scss/list-group';
@import 'bootstrap/scss/close';
//@import 'bootstrap/scss/toasts';
@import 'bootstrap/scss/modal';
//@import 'bootstrap/scss/tooltip';
//@import 'bootstrap/scss/popover';
//@import 'bootstrap/scss/carousel';
@import 'bootstrap/scss/spinners';
//@import 'bootstrap/scss/offcanvas';
//@import 'bootstrap/scss/placeholders';
@import 'bootstrap/scss/utilities';
@import 'bootstrap/scss/helpers';

// Include custom functions and mixins here
@import './theme/mixins';

// Include any default utilities overrides here
@import './theme/utilities';

// Optionally include utilities API last to generate classes based on the Sass map in `_utilities.scss`
@import 'bootstrap/scss/utilities/api';

// Add additional custom code here
@import './theme/root';
@import './theme/reboot';
@import './theme/type';
@import './theme/images';
@import './theme/grid';
@import './theme/tables';
@import './theme/forms';
@import './theme/buttons';
@import './theme/dropdown';
@import './theme/navbar';
@import './theme/card';
@import './theme/accordion';
@import './theme/breadcrumb';
//@import './theme/pagination';
@import './theme/badge';
@import './theme/alert';
@import './theme/list-group';
@import './theme/modal';
//@import './theme/popover';
@import './theme/avatar';
//@import './theme/device';
@import './theme/footer';
//@import './theme/icon';
@import './theme/list';
@import './theme/screenshot';
//@import './theme/section';
//@import './theme/shapes';
//@import './theme/sidenav';
//@import './theme/vendor';
@import './theme/helpers';
@import './user';
