@import '../node_modules/bulma/sass/utilities/initial-variables';

$blue: #008bca;
$primary: $blue;
$link-hover: darken($blue, 10%);

@import '../node_modules/bulma/bulma.sass';
@import './font.scss';

pre code,
code {
  color: $body-color;
  padding: 0 0.5rem;
  display: inline-block;
  background-color: #e5e5e5;
}
pre code {
  background-color: transparent;
}
hr {
  background-color: lighten($primary, 30%);
}
img.logo {
  height: 100%;
}
.image.rounded img {
  border-radius: 5px;
}
.mb20 {
  margin-bottom: 20px;
}
p.is-brand {
  color: #252830;
}
.footer.is-brand {
  background-color: #f7f7f9;
}
.is-75 {
  width: 75%;
}
.main-picture {
  max-width: 800px;
  width: 70%;
  margin-bottom: 20px;
}
.section.is-light {
  background-color: #fbfbfb;
}
.section.is-xsmall {
  padding: 0;
}
.cb {
  margin-left: auto;
  margin-right: auto;
}

.mt-40 {
  margin-top: 40px;
}
.footer {
  background-color: #efefef;

  a {
    color: $body-color;
  }
}
.donate-item {
  display: inline-block;
  vertical-align: middle;

  &:first-of-type {
    margin-right: 20px;
  }
}
.card-content {
  padding: 0.8rem;
}

.image.max-50 {
  max-width: 50%;
}
.card-content {
  position: relative;
  overflow: hidden;
}

.card .media:not(:last-child) {
  margin-bottom: 0.5rem;
}

.menu-list {
  a {
    i {
      font-size: 20px;
      margin-right: 10px;
    }
  }
  a:not(.is-active) i {
    color: $primary;
  }
}

// Buy me a coffee button styles
.bmc-button img {
  width: 27px !important;
  margin-bottom: 3px !important;
  box-shadow: none !important;
  border: none !important;
  vertical-align: middle !important;
}
.bmc-button {
  line-height: 36px !important;
  height: 37px !important;
  text-decoration: none !important;
  display: inline-block !important;
  color: #000000 !important;
  background-color: #ffffff !important;
  border-radius: 3px !important;
  border: 1px solid transparent !important;
  padding: 0px 9px !important;
  font-size: 17px !important;
  letter-spacing: -0.08px !important;
  box-shadow: 0px 1px 2px rgba(190, 190, 190, 0.5) !important;
  -webkit-box-shadow: 0px 1px 2px 2px rgba(190, 190, 190, 0.5) !important;
  margin: 0 auto !important;
  font-family: BlinkMacSystemFont, -apple-system, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    'Helvetica', 'Arial', sans-serif !important;
  -webkit-box-sizing: border-box !important;
  box-sizing: border-box !important;
  -o-transition: 0.3s all linear !important;
  -webkit-transition: 0.3s all linear !important;
  -moz-transition: 0.3s all linear !important;
  -ms-transition: 0.3s all linear !important;
  transition: 0.3s all linear !important;
}
.bmc-button:hover,
.bmc-button:active,
.bmc-button:focus {
  -webkit-box-shadow: 0px 1px 2px 2px rgba(190, 190, 190, 0.5) !important;
  text-decoration: none !important;
  box-shadow: 0px 1px 2px 2px rgba(190, 190, 190, 0.5) !important;
  opacity: 0.85 !important;
  color: #000000 !important;
}

.hljs {
  border-radius: 5px;
}
