/**
 * Custom variables followed by theme variables followed by Bootstrap variables
 * to ensure cascade of styles.
 */

// Bootstrap functions
@import '~bootstrap/scss/functions';

// Theme functions
@import 'theme/functions';

// Custom variables
@import 'custom-variables';

// Theme variables
@import 'theme/variables';

// Bootstrap core
@import '~bootstrap/scss/bootstrap';

// Theme core
@import 'theme/theme';

// custom font
@import 'font';

// Custom Scss
// ##########
div.icon {
  i {
    font-size: xxx-large;
  }
}
pre code,
code {
  color: $body-color;
  padding: 0 0.5rem;
  display: inline-block;
  background-color: #e5e5e5;
}
pre code {
  background-color: transparent;
}
footer {
  .copyright {
    color: #869ab8;
    font-size: 0.85em;
  }
}

.card-meta {
  .h6 {
    font-size: 0.5em;
    letter-spacing: inherit;
  }
}

.cta-border {
  border-color: $primary;
}

.simple-card-min {
  p.text-muted {
    font-size: initial;
  }
}

aside {
  select {
    &.form-select {
      color: $primary;
      option {
        color: $black;
      }
    }
  }
  li.list-group-item {
    padding: 0.75rem 0.75rem;
    cursor: pointer;
    &.active {
      span,
      a {
        color: $white;
      }
    }
  }
}
// TERMINAL
header.terminal {
  background: #e0e8f0;
  height: 30px;
  border-radius: 8px 8px 0 0;
  padding-left: 10px;
}
.terminal-container header .button {
  width: 12px;
  height: 12px;
  margin: 10px 4px 0 0;
  display: inline-block;
  border-radius: 8px;
}
.green {
  background-color: #3bb662 !important;
}
.red {
  background-color: #e75448 !important;
}
.yellow {
  background-color: #e5c30f !important;
}
.terminal-container {
  text-align: left;
  width: 100%;
  border-radius: 10px;
  margin: auto;
  margin-bottom: 14px;
  position: relative;
}
.terminal-fixed-top {
  margin-top: 30px;
}
.terminal-home {
  background-color: #30353a;
  padding: 1.5em 1em 1em 2em;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  color: #fafafa;
}

p.console {
  font-size: 0.9rem;
  &:before {
    content: '$';
    color: #3bb662;
  }
}

.card-min-height {
  min-height: 260px;
}
