/**
 * Custom variables followed by theme variables followed by Bootstrap variables
 * to ensure cascade of styles.
 */

// Bootstrap functions
@import '~bootstrap/scss/functions';

// Theme functions
@import 'theme/functions';

// Custom variables
@import 'custom-variables';

// Theme variables
@import 'theme/variables';

// Bootstrap core
@import '~bootstrap/scss/bootstrap';

// Theme core
@import 'theme/theme';

// custom font
@import 'font';

// Custom Scss
// ##########
.navbar-nav .nav-item {
  .bg-primary-soft {
    color: #008bca;
  }
  .nav-link {
    font-weight: 100;
    padding-left: 5px !important;
    padding-right: 5px !important;
    color: #4a4a4a;
    font-size: 1em;
    &:hover,
    &:active,
    &:focus {
      background-color: #fafafa;
      color: #008bca;
    }
  }
}
