/**
 * Custom variables followed by theme variables followed by Bootstrap variables
 * to ensure cascade of styles.
 */

// Bootstrap functions
@import '~bootstrap/scss/functions';

// Theme functions
@import 'theme/functions';

// Custom variables
@import 'custom-variables';

// Theme variables
@import 'theme/variables';

// Bootstrap core
@import '~bootstrap/scss/bootstrap';

// Theme core
@import 'theme/theme';

// custom font
@import 'font';

// Custom Scss
// ##########
div.icon {
  i {
    font-size: xxx-large;
  }
}
pre code,
code {
  color: $body-color;
  padding: 0 0.5rem;
  display: inline-block;
  background-color: #e5e5e5;
}
pre code {
  background-color: transparent;
}
footer {
  .copyright {
    color: $secondary;
    font-size: 0.85em;
  }
  .footer-social {
    font-size: 1.3em;
  }
}

.card-meta {
  .h6 {
    font-size: 0.5em;
    letter-spacing: inherit;
  }
}

.cta-border {
  border-color: $primary;
}

.simple-card-min {
  p.text-muted {
    font-size: initial;
  }
}

aside {
  select {
    &.form-select {
      color: $primary;
      option {
        color: $black;
      }
    }
  }
  li.list-group-item {
    padding: 0.75rem 0.75rem;
    cursor: pointer;
    &.active {
      span,
      a {
        color: $white;
      }
    }
  }
}
// TERMINAL
header.terminal {
  background: #30353a;
  height: 30px;
  border-radius: 8px 8px 0 0;
  padding-left: 10px;
}
.terminal-container header .button {
  width: 12px;
  height: 12px;
  margin: 10px 4px 0 0;
  display: inline-block;
  border-radius: 8px;
}
.green {
  background-color: #3bb662 !important;
}
.red {
  background-color: #e75448 !important;
}
.yellow {
  background-color: #e5c30f !important;
}
.terminal-container {
  text-align: left;
  width: 100%;
  border-radius: 10px;
  margin: auto;
  margin-bottom: 14px;
  position: relative;
}
.terminal-fixed-top {
  margin-top: 30px;
}
.terminal-home {
  background-color: #30353a;
  padding: 1em 1em 1em 2em;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  color: #fafafa;
}

p.console {
  font-family: Consolas, 'Andale Mono WT', 'Andale Mono', 'Lucida Console',
    'Lucida Sans Typewriter', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono',
    'Liberation Mono', 'Nimbus Mono L', Monaco, 'Courier New', Courier,
    monospace;
  font-size: 0.9rem;
  &:before {
    content: '$';
    color: #3bb662;
  }
}

.card-min-height {
  min-height: 260px;
}
.article-header {
  background: rgb(38, 40, 48);
  background: linear-gradient(
    90deg,
    rgba(38, 40, 48, 1) 0%,
    rgba(59, 164, 220, 1) 120%
  );
  color: #adeae1;
  text-align: left;

  a {
    color: #adeae1;
    &:visited {
      color: #adeae1;
    }
    &:hover,
    &:active {
      color: darken(#adeae1, 40%);
    }
  }

  img {
    max-width: 50%;
  }
}
.quote {
  position: relative;
  padding: 2rem;
  margin: 40px;
  border-left: 4px solid lighten($primary, 30%);
  font-size: 1.6rem;
  font-weight: 400;
  quotes: '“' '”';

  &-metadata {
    display: flex;
    margin-top: 20px;

    & .quote-picture {
      width: 48px;
      height: 48px;
      border-radius: 9999px;
    }

    & .quote-author {
      margin-left: 20px;

      div:nth-child(1) {
        font-weight: 500;
        font-size: 1rem;
      }

      div:nth-child(2) {
        color: grey;
        font-size: 1rem;
      }
    }
  }
}
