/**
 * Custom variables followed by theme variables followed by Bootstrap variables
 * to ensure cascade of styles.
 */

// Bootstrap functions
@import '~bootstrap/scss/functions';

// Theme functions
@import 'theme/functions';

// Custom variables
@import 'custom-variables';

// Theme variables
@import 'theme/variables';

// Bootstrap core
@import '~bootstrap/scss/bootstrap';

// Theme core
@import 'theme/theme';

// custom font
@import 'font';

// Custom Scss
// ##########
div.icon {
  i {
    font-size: xxx-large;
  }
}
pre code,
code {
  color: $body-color;
  padding: 0 0.5rem;
  display: inline-block;
  background-color: #e5e5e5;
}
pre code {
  background-color: transparent;
}
footer {
  .copyright {
    color: #869ab8;
    font-size: 0.85em;
  }
}

.card-meta {
  .h6 {
    font-size: 0.5em;
    letter-spacing: inherit;
  }
}
